
#Archivos de base de datos
*.sqlite
*.db

# Archivos privados
**/credentials.json
.env

# Archivos temporales de prueba
tree.txt
unit.js

# Archivos cache
.cache/
.cache/puppeteer/
.vscode/

# Archivos que no se desean en subida
out/
node_modules/
